// ----- Colors -----

// Primary Colors
$violet: hsl(263, 55%, 52%);
$lightViolet: hsl(264, 82%, 70%);
$darkGrayBlue: hsl(217, 19%, 35%);
$darkBlackBlue: hsl(219, 29%, 14%);
$white: hsl(0, 0%, 100%);

// Neutral Colors
$lightGray: hsl(0, 0%, 81%);
$lightGrayBlue: hsl(210, 46%, 95%);
$shadow: hsla(217, 19%, 35%, 0.2474);

// ----- Typography -----

// Font-Family
$font-primary: 'Barlow Semi Condensed', sans-serif;

// Font-Weight
$fw-medium: 500;
$fw-semiBold: 600;

// ----- Breakpoints -----

$tablet: 48em; // 768px
$desktop: 64em; // 1024px
