@use './reset';
@use './variables' as *;

body {
	background-color: $lightGrayBlue;
	font-family: $font-primary;
	font-style: normal;
}

main {
	padding: 4.4375rem 1.5rem;

	section {
		margin: 0 auto;
		max-width: 1110px;
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;

		.card {
			padding: 1.625rem 2rem 2rem;
			border-radius: 8px;
			box-shadow: 40px 60px 50px -47px $shadow;

			.authorBlock {
				margin-bottom: 1.125rem;
				display: flex;
				align-items: center;
				gap: 1.0625rem;

				img {
					height: 28px;
					width: 28px;
					border-radius: 50%;
				}

				div {
					h3 {
						font-size: 0.8125rem;
						font-weight: $fw-medium;
					}

					p {
						font-size: 0.6875rem;
						font-weight: $fw-medium;
						opacity: 0.5;
					}
				}
			}

			.testimonial {
				margin-bottom: 1rem;
				font-size: 1.25rem;
				font-weight: $fw-semiBold;
			}

			.review {
				font-size: 0.8125rem;
				font-weight: $fw-medium;
				line-height: 1.539;
				opacity: 0.7;
			}
		}
	}
}
